@charset "utf-8";
@import "main.css";

@media only screen
{ body {
background: url('../img/mountain.jpg');
background-position: left top;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
font-family: “Arial, Helvetica, sans-serif”;
color: black !important;
}

td.cancelled {
    color:red;
    font-weight: bold;
}

td.departed {
    color:green;
}

td.departed:after {
    content: ' \2708';
}

h1, h2 {color:blue;}
h1 {font-size:larger; text-transform: uppercase; text-shadow: 1px 1px #ff0000;}
h2 {font-size:medium; text-shadow: 1px 1px #ff0000;}

div article {
    padding:20px;
}

#flight-statuses {
    width:600px;
    margin-left:auto; margin-right:auto; margin-bottom:50px;
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    line-height: 50px;
}

tr:nth-child(odd) {background-color:white;}
tr:nth-child(even) {background-color:lightgrey;}


th {
   color: black;
   background-color: white;
   filter:invert(100%);
}

td {
    padding-left:10px;
    padding-right:10px;
}

#flight-statuses tr:not(:first-child):hover td {
    background-color:goldenrod;
    border-top:royalblue 5px solid;
    border-bottom:royalblue 5px solid;
}

header { 
height: 150px;
background-color: rgba(150, 100, 100, 0.5);
}

body header nav {background-color: #080707; height:30px;}


nav {
margin-top: 0px;
margin-bottom: 0px;
margin-right: auto;
margin-left: auto;
position: relative;
width: 600px;
top: 120px;
}

nav ul {
list-style-type: none;
margin: 0;
}

nav ul li.menu {
float:left;
padding:2px;
margin-right:10px;
height:30px;
height: 20px;
}

nav ul li.menu a {
    text-decoration: none;
    color : rgb(212, 211, 211);
    background-color:rgb(22, 14, 14);
    filter:invert(100%);
}

nav ul li.menu a:hover {
    color: blueviolet;
    background-color: rgb(206, 194, 194);
}

}

@media only print {
body {
background-color: white;
color:black;
}

header {
    display: none;
}

}